## Reading inventory.json file

In [30]:
import json

fd = open("inventory.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

## Printing records

In [31]:
records

{'1001': {'cat': 'Noodles', 'name': 'Maggi', 'pr': 40, 'qty': 102},
 '1002': {'cat': 'Noodles', 'name': 'Schezwan', 'pr': 40, 'qty': 100},
 '1003': {'cat': 'Noodles', 'name': 'Manchurian', 'pr': 40, 'qty': 100},
 '1004': {'cat': 'Pasta', 'name': 'Masala', 'pr': 25, 'qty': 100},
 '1005': {'cat': 'Pasta', 'name': 'Tomato', 'pr': 25, 'qty': 100},
 '1006': {'cat': 'Biscuit', 'name': 'Good Day', 'pr': 70, 'qty': 100},
 '1007': {'cat': 'Biscuit', 'name': 'Hide & Seek', 'pr': 65, 'qty': 100},
 '1008': {'cat': 'Biscuit', 'name': "Mom's Magic", 'pr': 75, 'qty': 100},
 '1009': {'cat': 'Biscuit', 'name': 'Parle 20-20', 'pr': 25, 'qty': 100},
 '1010': {'cat': 'Biscuit', 'name': 'Happy Happy', 'pr': 10, 'qty': 100},
 '1011': {'cat': 'Cereals', 'name': 'Corn Flakes', 'pr': 200, 'qty': 100},
 '1012': {'cat': 'Cereals', 'name': 'Oats', 'pr': 150, 'qty': 100},
 '1013': {'cat': 'Cereals', 'name': 'Chocos', 'pr': 150, 'qty': 100},
 '1014': {'cat': 'Chocolate', 'name': 'CHocomini', 'pr': 100, 'qty': 100},
 '1015': {'cat': 'Chocolate', 'name': 'Dairy Milk', 'pr': 20, 'qty': 100},
 '1016': {'cat': 'Chocolate', 'name': 'KitKat', 'pr': 20, 'qty': 100},
 '1017': {'cat': 'Chocolate', 'name': 'Dark Choco', 'pr': 90, 'qty': 100},
 '1018': {'cat': 'Chocolate', 'name': '5 Star', 'pr': 10, 'qty': 100},
 '1019': {'cat': 'Cake', 'name': 'Fruit Cake', 'pr': 25, 'qty': 100},
 '1020': {'cat': 'Cake', 'name': 'Chocobakes', 'pr': 10, 'qty': 100},
 '1021': {'cat': 'Cake', 'name': 'Vanilla', 'pr': 20, 'qty': 100},
 '1022': {'cat': 'Bakery', 'name': 'Toast', 'pr': 50, 'qty': 100},
 '1023': {'cat': 'Bakery', 'name': 'Khari', 'pr': 40, 'qty': 100},
 '1024': {'cat': 'Snacks', 'name': 'Soya Stiks', 'pr': 30, 'qty': 100},
 '1025': {'cat': 'Snacks', 'name': 'Wafers', 'pr': 10, 'qty': 100},
 '1026': {'cat': 'Jam', 'name': 'Fruit Jam', 'pr': 50, 'qty': 100},
 '1027': {'cat': 'Sauce', 'name': 'Tomato', 'pr': 90, 'qty': 100},
 '1028': {'cat': 'Snaks', 'name': 'Popcorn', 'pr': 10, 'qty': 100},
 '1029': {'cat': 'Soup', 'name': 'Hot & Sour', 'pr': 30, 'qty': 100},
 '1030': {'cat': 'Soup', 'name': 'Tomato', 'pr': 30, 'qty': 100}}

## Purchase Product

In [32]:
print("**************************************************")
print("!!! Welcome to the Store !!!")
print("**************************************************")

prod_id = str(input("\n Enter the Product_ID : "))
purchase_qty = int(input("\n Enter the Quantity : "))

print("\n Category : ", records[prod_id]['cat'])
print("\n Product : ", records[prod_id]['name'])
print("\n Price : ", records[prod_id]['pr'])

print("--------------------------------------------------")
print("\n Billing Amount : ", records[prod_id]['pr'] * purchase_qty)
print("--------------------------------------------------")

records[prod_id]['qty'] = records[prod_id]['qty'] - purchase_qty

**************************************************
!!! Welcome to the Store !!!
**************************************************

 Enter the Product_ID : 1001

 Enter the Quantity : 2

 Category :  Noodles

 Product :  Maggi

 Price :  40
--------------------------------------------------

 Billing Amount :  80
--------------------------------------------------

## Update record in existing File and printing it

In [33]:
js = json.dumps(records)

fd = open("inventory.json", 'w')
fd.write(js)
fd.close()

In [34]:
records

{'1001': {'cat': 'Noodles', 'name': 'Maggi', 'pr': 40, 'qty': 100},
 '1002': {'cat': 'Noodles', 'name': 'Schezwan', 'pr': 40, 'qty': 100},
 '1003': {'cat': 'Noodles', 'name': 'Manchurian', 'pr': 40, 'qty': 100},
 '1004': {'cat': 'Pasta', 'name': 'Masala', 'pr': 25, 'qty': 100},
 '1005': {'cat': 'Pasta', 'name': 'Tomato', 'pr': 25, 'qty': 100},
 '1006': {'cat': 'Biscuit', 'name': 'Good Day', 'pr': 70, 'qty': 100},
 '1007': {'cat': 'Biscuit', 'name': 'Hide & Seek', 'pr': 65, 'qty': 100},
 '1008': {'cat': 'Biscuit', 'name': "Mom's Magic", 'pr': 75, 'qty': 100},
 '1009': {'cat': 'Biscuit', 'name': 'Parle 20-20', 'pr': 25, 'qty': 100},
 '1010': {'cat': 'Biscuit', 'name': 'Happy Happy', 'pr': 10, 'qty': 100},
 '1011': {'cat': 'Cereals', 'name': 'Corn Flakes', 'pr': 200, 'qty': 100},
 '1012': {'cat': 'Cereals', 'name': 'Oats', 'pr': 150, 'qty': 100},
 '1013': {'cat': 'Cereals', 'name': 'Chocos', 'pr': 150, 'qty': 100},
 '1014': {'cat': 'Chocolate', 'name': 'CHocomini', 'pr': 100, 'qty': 100},
 '1015': {'cat': 'Chocolate', 'name': 'Dairy Milk', 'pr': 20, 'qty': 100},
 '1016': {'cat': 'Chocolate', 'name': 'KitKat', 'pr': 20, 'qty': 100},
 '1017': {'cat': 'Chocolate', 'name': 'Dark Choco', 'pr': 90, 'qty': 100},
 '1018': {'cat': 'Chocolate', 'name': '5 Star', 'pr': 10, 'qty': 100},
 '1019': {'cat': 'Cake', 'name': 'Fruit Cake', 'pr': 25, 'qty': 100},
 '1020': {'cat': 'Cake', 'name': 'Chocobakes', 'pr': 10, 'qty': 100},
 '1021': {'cat': 'Cake', 'name': 'Vanilla', 'pr': 20, 'qty': 100},
 '1022': {'cat': 'Bakery', 'name': 'Toast', 'pr': 50, 'qty': 100},
 '1023': {'cat': 'Bakery', 'name': 'Khari', 'pr': 40, 'qty': 100},
 '1024': {'cat': 'Snacks', 'name': 'Soya Stiks', 'pr': 30, 'qty': 100},
 '1025': {'cat': 'Snacks', 'name': 'Wafers', 'pr': 10, 'qty': 100},
 '1026': {'cat': 'Jam', 'name': 'Fruit Jam', 'pr': 50, 'qty': 100},
 '1027': {'cat': 'Sauce', 'name': 'Tomato', 'pr': 90, 'qty': 100},
 '1028': {'cat': 'Snaks', 'name': 'Popcorn', 'pr': 10, 'qty': 100},
 '1029': {'cat': 'Soup', 'name': 'Hot & Sour', 'pr': 30, 'qty': 100},
 '1030': {'cat': 'Soup', 'name': 'Tomato', 'pr': 30, 'qty': 100}}

In [35]:

id += 1

In [36]:
sales = {id : {'Product_ID' : prod_id, 'Qty' : purchase_qty, 'Amount': records[prod_id]['pr'] * purchase_qty}}

In [37]:
sales

{3: {'Amount': 80, 'Product_ID': '1001', 'Qty': 2}}

## Appending sales data into sales.json file

In [38]:
sale = json.dumps(sales)

fd = open("sales.json", 'a')
fd.write(str(sale))
fd.close()

## Reading sales.json file

In [39]:
import json
fd = open("sales.json", 'r')
r = fd.read()
fd.close()

sale_record = json.dumps(str(r))

## Printing sales records

In [40]:
sale_record = sale_record.replace('\\', '')
sale_record

'"{"3": {"Product_ID": "1001", "Qty": 2, "Amount": 80}}"'